.footer
    .footer__logo
        img(src="/img/logo-green.png", alt="Natours logo").card__picture-img
    ul.footer__nav
        li
            a About us
        li
            a Download apps
        li
            a Become a guide
        li
            a Careers
        li
            a Contact
    p.footer__copyright &copy; by Jonas Schmedtmann. All rights reserved.